{% extends 'base.html' %}
{% block title %}
    {{ movie.title   }}
{% endblock title %}
{% block content %}
    <h2>Detalhes do Game {{ movie.title }} </h2>
    <section class="dados-de-filme">
        <img src="{{ movie.poster_url }}" alt="Poster do filme {{ movie.title}}">
        <ul>
            <li>Nome: {{ movie.title }}</li>
            <li>Gênero: {{ movie.genre }}</li>
            <li>Data Do Post: {{ movie.post_date }}</li>
            <li>Análise: {{ movie.content }}</li>
            <li>
                <a href="{% url 'movies:update' movie.id %}">Editar</a>
            </li>
            <li>
                <a href="{% url 'movies:delete' movie.id %}">Apagar</a>
            </li>
        </ul>
    </section>
    <hr>
{% endblock content %}
