{% extends 'base.html' %}
{% block content %}
    <h2>Detalhes do game {{ object.title }} </h2>
    <section class="dados-de-filme">
        <img src="{{ object.poster_url }}" alt="Poster do filme {{ object.title }}">
        <ul>
            <li>Nome: {{ object.title }}</li>
            <li>Gênero: {{ object.genre }}</li>
            <li>Data Do Post: {{ object.post_date }}</li>
            <li>Análise: {{ object.content }}</li>
            <li>
                <a href="{% url 'movies:update' object.id %}">Editar</a>
            </li>
            <li>
                <a href="{% url 'movies:delete' object.id %}">Apagar</a>
            </li>
        </ul>
    </section>
    <hr>
    <h3>Comentários</h3>
    {% if object.comments.all %}
        <ul>
            {% for comment in object.comments.all %}
                <li>
                    <strong>{{ comment.author }}</strong> - {{ comment.created_date|date:"d M Y H:i" }}<br>
                    {{ comment.text }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Sem comentários ainda. Seja o primeiro a comentar!</p>
    {% endif %}

    <!-- Link para adicionar um comentário -->
    <a href="{% url 'movies:review' object.id %}">Adicionar Comentário</a>
{% endblock content %}
